*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: left;
    margin-top: 16rem;
}

#parent{
    position: absolute;
    width: 100vw;
    background:linear-gradient(to right,red,yellow);
    height: 5rem;
}

#first{
    width: 5rem;
    height: 5rem;
    background-color: rgb(11, 238, 3);
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 39% 41%, 96% 60%, 69% 90%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    animation: anime linear 3s infinite;
}

@keyframes anime{
    0%{
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 39% 41%, 96% 60%, 69% 90%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    }
    25%{
        clip-path: polygon(50% 0%, 78% 5%, 93% 13%, 39% 41%, 93% 86%, 66% 99%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    }
    50%{
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 39% 41%, 96% 60%, 69% 90%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    }
    75%{
        clip-path: polygon(50% 0%, 78% 5%, 93% 13%, 39% 41%, 93% 86%, 66% 99%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    }
    100%{
        transform: translate(100vw);
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 39% 41%, 96% 60%, 69% 90%, 28% 94%, 0% 70%, 0% 35%, 20% 10%);
    }
}


